@font-face {
  font-family: 'Nanum-barun-gothic';
  src: url("./fonts/NanumBarunGothic.ttf");
}

.AddPostPopUp {
  font-family: 'Nanum-barun-gothic';
  height: 300px;
  width: 300px;
  position: fixed;
  top: 400px;
  right: 5px;
  transform: translate(-50%, -50%); /* 기준점을 중앙으로 배치 */
  background-color: white;
  border: 2px solid rgb(133, 215, 202);
  border-radius: 20px;
  box-shadow: 3px 3px 3px 3px #ccc;
  padding: 20px;
}

#post-titlebox {
  display: flex;
  margin-top: 10%;
}

#post-title {
  font-family: 'Nanum-barun-gothic';
  margin: auto;
  font-size: large;
}

#post-input {
  margin: auto;
  margin-top: 60px;
}

.goal {
  padding: 10px;
  width: 70%;
  border: 2.5px solid #ccc;
  border-radius: 20px;
  margin: auto;
  margin-bottom: 50px;
  font-size: medium;
}

#post-button {
  margin-top: 10%;
  display: flex;
  align-items: center;
}

#confirm {
  padding: 10px;
  margin-left: auto;
  margin-right: 10px;
  height: 40px;
  width: 40px;
  font-size: medium;
  border-radius: 25px;
  border: 1.5px solid rgb(133, 215, 202);
  background-color: rgb(226, 250, 246);
  box-shadow: 2px 2px 3px 0.5px #ccc;
}

#close {
  padding: 10px;
  margin-left: 10px;
  margin-right: auto;
  height: 40px;
  width: 40px;
  font-size: medium;
  border-radius: 25px;
  border: 1.5px solid rgb(133, 215, 202);
  background-color: rgb(226, 250, 246);
  box-shadow: 2px 2px 3px 0.5px #ccc;
}

#confirm:hover, #close:hover {
  cursor: pointer;
  background-color: rgb(190, 245, 236);
}
#confirm:active, #close:active {
  position: relative;
  box-shadow: 0.5px 0.5px 0 #ccc;
  top: 2px;
}
