@font-face {
  font-family: 'Nanum-barun-gothic';
  src: url("./fonts/NanumBarunGothic.ttf");
}

.consume {
  font-family: 'Nanum-barun-gothic';
  margin-bottom: 70px;
  margin-top: 40px;
  margin-left: 80px;
  width: 600px;
  border: 2px solid rgb(222, 222, 222);
  padding: 20px;
  border-radius: 20px;
  box-shadow: 2px 2px 3px 0.5px #ccc;
}

.consume-header {
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.consume-title {
  font-size: large;
  margin-right: auto;

  float: left;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1.8px solid rgb(108, 108, 108);
  padding-bottom: 6px;
}

.save-button {
  height: 40px;
  width: 40px;
  float: right;
  font-size: medium;
  border-radius: 25px;
  border: 1px solid rgb(133, 215, 202);
  background-color: rgb(226, 250, 246);
  box-shadow: 2px 2px 3px 0.5px #ccc;
  margin-left: 10px;
  color: black;
}

.save-button:hover {
  cursor: pointer;
  background-color: rgb(190, 245, 236);
}

.save-button:active {
  position: relative;
  box-shadow: 0.5px 0.5px 0 #ccc;
  top: 2px;
}

.consume-table {
  margin: auto;
}

.consume-info {
  margin-top: 30px;
  font-size: medium;
  text-align: center;
}

#alert{
  color: gray;
  font-size: medium;
  margin-top: 30px;
}

.budget-box {
  width: 180px;
  margin: auto;
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;

}

#budget {
  width: 110px;
  height: 30px;
  font-family: 'Nanum-barun-gothic';
  font-size: medium;
  display: flex;
  align-items: center;
  border: 1.5px solid #ccc;
  border-radius: 15px;
  padding: 5px;
  padding-left: 8px;
  margin-right: 6px;
}

.money {
  width: 120px;
  font-family: 'Nanum-barun-gothic';
  font-size: small;
  display: flex;
  align-items: center;
  border: 1.5px solid #ccc;
  border-radius: 15px;
  height: 29px;
  margin: 5px;
  padding: 5px;
}

.column-money {
  width: 120px;
  font-family: 'Nanum-barun-gothic';
  font-size: small;
  display: flex;
  align-items: center;
  border: 1.5px solid #ccc;
  border-radius: 15px;
  height: 29px;
  margin: 5px;
  padding: 5px;
  background-color: rgb(235, 255, 252);
}

.cons-content {
  width: 350px;
  font-family: 'Nanum-barun-gothic';
  font-size: small;
  display: flex;
  align-items: center;
  border: 1.5px solid #ccc;
  border-radius: 15px;
  height: 29px;
  margin: 2px;
  padding: 5px;
}

.column-content {
  width: 350px;
  font-family: 'Nanum-barun-gothic';
  font-size: small;
  display: flex;
  align-items: center;
  border: 1.5px solid #ccc;
  border-radius: 15px;
  height: 29px;
  margin: 2px;
  padding: 5px;
  background-color: rgb(235, 255, 252);
}

td {
  border-collapse: collapse;
}