@font-face {
  font-family: 'Nanum-barun-gothic';
  src: url("./fonts/NanumBarunGothic.ttf");
}

#diary {
  font-family: 'Nanum-barun-gothic';
  margin-bottom: 70px;
  margin-top: 40px;
  margin-left: 80px;
  width: 600px;
  border: 2px solid rgb(222, 222, 222);
  padding: 20px;
  border-radius: 20px;
  box-shadow: 2px 2px 3px 0.5px #ccc;
}

.diary-header {
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.diary-title {
  font-size: large;
  margin-right: auto;
  float: left;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1.8px solid rgb(108, 108, 108);
  padding-bottom: 6px;
}

.diary-small-title {
  font-size: medium;
  margin-right: 50px;
  color: rgb(85, 85, 85);
}

.modify-button {
  height: 40px;
  width: 40px;
  float: right;
  font-size: medium;
  border-radius: 25px;
  border: 1px solid rgb(133, 215, 202);
  background-color: rgb(226, 250, 246);
  box-shadow: 2px 2px 3px 0.5px #ccc;
  margin-left: 30px;
}

.modify-button:hover {
  cursor: pointer;
  background-color: rgb(190, 245, 236);
}

.modify-button:active {
  position: relative;
  box-shadow: 0.5px 0.5px 0 #ccc;
  top: 2px;
}

#diary-body {
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.diary-content {
  font-size: small;
  /* border: 1px solid rgb(192, 192, 192); */
  /* border-radius: 45px; */
  height: 200px;
  width: 550px;
  padding: 10px;
  margin: auto;
  margin-top: 20px;
  display: flex;

  white-space: pre-wrap;
  line-height: 27px;
}
