@font-face {
  font-family: 'Nanum-barun-gothic';
  src: url("./fonts/NanumBarunGothic.ttf");
}

.food {
  font-family: 'Nanum-barun-gothic';
  margin-bottom: 70px;
  margin-top: 40px;
  margin-left: 80px;
  width: 600px;
  border: 2px solid rgb(222, 222, 222);
  padding: 20px;
  border-radius: 20px;
  box-shadow: 2px 2px 3px 0.5px #ccc;
}

.food-header {
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.food-title {
  font-size: large;
  margin-right: auto;
  float: left;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1.8px solid rgb(108, 108, 108);
  padding-bottom: 6px;
}

.modify-button {
  height: 40px;
  width: 40px;
  float: right;
  font-size: medium;
  border-radius: 25px;
  border: 1px solid rgb(133, 215, 202);
  background-color: rgb(226, 250, 246);
  box-shadow: 2px 2px 3px 0.5px #ccc;
  margin-left: 10px;
  color: black;
}

.modify-button:hover {
  cursor: pointer;
  background-color: rgb(190, 245, 236);
}

.modify-button:active {
  position: relative;
  box-shadow: 0.5px 0.5px 0 #ccc;
  top: 2px;
}

.HWC-table {
  margin: auto;
  margin-top: 30px;
}

#alert{
  color: gray;
  font-size: medium;
  margin: auto;
}

.height {
  width: 180px;
  margin: auto;
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.weight {
  width: 180px;
  margin: auto;
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.height-input {
  width: 110px;
  height: 30px;
  font-family: 'Nanum-barun-gothic';
  font-size: medium;
  display: flex;
  align-items: center;
  border: 1.5px solid #ccc;
  border-radius: 15px;
  padding: 5px;
  padding-left: 8px;
  margin-right: 6px;
}

.weight-input {
  width: 110px;
  height: 30px;
  font-family: 'Nanum-barun-gothic';
  font-size: medium;
  display: flex;
  align-items: center;
  border: 1.5px solid #ccc;
  border-radius: 15px;
  padding: 5px;
  padding-left: 8px;
  margin-right: 10px;
}

.food-table {
  margin: auto;
}

.food-info {
  margin: auto;
  margin-top: 20px;
  display: flex;
  justify-content: center;
}


.food-cal {
  width: 120px;
  font-family: 'Nanum-barun-gothic';
  font-size: small;
  display: flex;
  align-items: center;
  border: 1.5px solid #ccc;
  border-radius: 15px;
  height: 29px;
  margin: 5px;
  padding: 5px;
}

.food-cal-top {
  width: 120px;
  font-family: 'Nanum-barun-gothic';
  font-size: small;
  display: flex;
  align-items: center;
  border: 1.5px solid #ccc;
  border-radius: 15px;
  height: 29px;
  margin: 5px;
  padding: 5px;

  background-color: rgb(235, 255, 252);
}

.food-content {
  width: 350px;
  font-family: 'Nanum-barun-gothic';
  font-size: small;
  display: flex;
  align-items: center;
  border: 1.5px solid #ccc;
  border-radius: 15px;
  height: 29px;
  margin: 2px;
  padding: 5px;
}

.food-content-top {
  width: 350px;
  font-family: 'Nanum-barun-gothic';
  font-size: small;
  display: flex;
  align-items: center;
  border: 1.5px solid #ccc;
  border-radius: 15px;
  height: 29px;
  margin: 2px;
  padding: 5px;

  background-color: rgb(235, 255, 252);
}


input {
  font-family: 'Laundry-Gothic';
  font-size: large;
  
  display: flex;
  align-items: center;

  border: 2px solid #ccc;
  border-radius: 22.5px;
  height: 45px;
  margin: 1%;
  padding: 7px;
}

.HWbutton {
  
  height: 50px;
  width: 50px;
  border-radius: 25px;
  font-size: x-large;
  border: 3px solid rgb(133, 215, 202);
  background-color: rgb(226, 250, 246);
  box-shadow: 1px 1px 1px 2px #ccc;
}

.HWbutton:hover {
  cursor: pointer;
  background-color: rgb(190, 245, 236);
}

.HWbutton:active {
  position: relative;
  box-shadow: 0.5px 0.5px 0 #ccc;
  top: 2px;
}

td {
  /* border: 2px solid #ccc; */
  border-radius: 20px;
  border-collapse: collapse;

  /* display: flex; */
  /* align-items: center; */
}