@font-face {
  font-family: 'Roboto-Slab';
  src: url('./fonts/RobotoSlab-VariableFont_wght.ttf');
}

@font-face {
  font-family: 'KoPub-dotum';
  src: url('./fonts/KoPubWorld\ Dotum\ Medium.ttf');
}

@font-face {
  font-family: 'Laundry-Gothic';
  src: url("./fonts/런드리고딕OTF\ Regular.otf");
}

@font-face {
  font-family: 'Samlip-outline';
  src: url("./fonts/SDSamliphopangcheOutline.otf")
}

.food {
  font-family: 'Laundry-Gothic';
  width: 700px;
  margin-top: 110px;
}

.food-header {
  /* border: 1px solid black; */
  height: 50px;
  margin-left: 80px;
  display: flex;
  justify-content: center;
  margin-bottom: 80px;
}

.modify-button {
  height: 50px;
  width: 50px;
  float: right;
  font-size: larger;
  border-radius: 25px;
  border: 3px solid rgb(133, 215, 202);
  background-color: rgb(226, 250, 246);
  box-shadow: 1px 1px 1px 2px #ccc;
}

.modify-button:hover {
  cursor: pointer;
  background-color: rgb(190, 245, 236);
}

.modify-button:active {
  position: relative;
  box-shadow: 0.5px 0.5px 0 #ccc;
  top: 2px;
}

.food-title {
  font-family: 'Laundry-Gothic';
  font-size: x-large;
  margin-right: auto;
  float: left;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 3px solid rgb(133, 215, 202);
}

.HWC-table {
  margin-top: 18px;
  margin-left: 70px;
  display: flex;
}

.food-table {
  margin-top: 18px;
  margin-left: 70px;
  display: flex;
}

.food-info {
  margin-top: 18px;
  margin-left: 70px;
}

.xeight {
  width: 200px;
  margin: auto;
}


.food-cal {
  width: 200px;
  font-family: 'Laundry-Gothic';
  font-size: large;
  
  display: flex;
  align-items: center;

  border: 2px solid #ccc;
  border-radius: 22.5px;
  height: 45px;
  margin: 1%;
  padding: 7px;
}

.column-cal {
  width: 200px;
  font-family: 'Laundry-Gothic';
  font-size: large;
  
  display: flex;
  align-items: center;

  border: 2px solid #ccc;
  border-radius: 22.5px;
  height: 45px;
  margin: 1%;
  padding: 7px;
  background-color: #e3e3e3;
}

.food-content {
  width: 400px;
  font-family: 'Laundry-Gothic';
  font-size: large;

  display: flex;
  align-items: center;

  border: 2px solid #ccc;
  border-radius: 22.5px;
  height: 45px;
  margin: 1%;
  padding: 7px;
}

.column-content {
  width: 400px;
  font-family: 'Laundry-Gothic';
  font-size: large;

  display: flex;
  align-items: center;

  border: 2px solid #ccc;
  border-radius: 22.5px;
  height: 45px;
  margin: 1%;
  padding: 7px;
  background-color: #e3e3e3;
}

input {
  font-family: 'Laundry-Gothic';
  font-size: large;
  
  display: flex;
  align-items: center;

  border: 2px solid #ccc;
  border-radius: 22.5px;
  height: 45px;
  margin: 1%;
  padding: 7px;
}

.HWbutton {
  
  height: 50px;
  width: 50px;
  border-radius: 25px;
  font-size: x-large;
  border: 3px solid rgb(133, 215, 202);
  background-color: rgb(226, 250, 246);
  box-shadow: 1px 1px 1px 2px #ccc;
}

.HWbutton:hover {
  cursor: pointer;
  background-color: rgb(190, 245, 236);
}

.HWbutton:active {
  position: relative;
  box-shadow: 0.5px 0.5px 0 #ccc;
  top: 2px;
}

td {
  /* border: 2px solid #ccc; */
  border-radius: 20px;
  border-collapse: collapse;

  /* display: flex; */
  /* align-items: center; */
}