@font-face {
  font-family: 'Roboto-Slab';
  src: url('./fonts/RobotoSlab-VariableFont_wght.ttf');
}

@font-face {
  font-family: 'KoPub-dotum';
  src: url('./fonts/KoPubWorld\ Dotum\ Medium.ttf');
}

@font-face {
  font-family: 'Laundry-Gothic';
  src: url("./fonts/런드리고딕OTF\ Regular.otf");
}

@font-face {
  font-family: 'Samlip-outline';
  src: url("./fonts/SDSamliphopangcheOutline.otf")
}


#goal {
  font-family: 'Laundry-Gothic';
  margin-bottom: 100px;
  margin-top: 50px;
  width: 700px;
}

.add-post-button:hover {
  cursor: pointer;
}

.goal-header {
  height: 50px;
  margin-left: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.goal-title {
  font-size: x-large;
  margin-right: auto;
  
  float: left;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 3px solid rgb(133, 215, 202);
}

#goal-content {
  font-size: larger;
  border: 3px solid rgb(254, 232, 212);
  border-radius: 45px;
  height: 50px;
  width: 330px;
  text-align: center;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modify-button {
  height: 50px;
  width: 50px;
  float: right;
  font-size: larger;
  border-radius: 25px;
  border: 3px solid rgb(133, 215, 202);
  background-color: rgb(226, 250, 246);
  box-shadow: 1px 1px 1px 2px #ccc;
  margin-left: 30px;
}

.modify-button:hover {
  cursor: pointer;
  background-color: rgb(190, 245, 236);
}

.modify-button:active {
  position: relative;
  box-shadow: 0.5px 0.5px 0 #ccc;
  top: 2px;
}
