@font-face {
  font-family: 'Nanum-barun-gothic';
  src: url("./fonts/NanumBarunGothic.ttf");
}

#goal {
  font-family: 'Nanum-barun-gothic';
  margin-bottom: 70px;
  margin-top: 40px;
  width: 600px;
}

.goal-header {
  height: 50px;
  margin-left: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.goal-title {
  font-size: large;
  margin-right: auto;
  float: left;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1.8px solid rgb(108, 108, 108);
  padding-bottom: 6px;
}

#goal-content {
  font-size: small;
  border: 2px solid rgb(239, 239, 239);
  border-radius: 45px;
  height: 30px;
  width: 250px;
  text-align: center;
  padding: 4px;
  margin-left: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modify-button {
  height: 40px;
  width: 40px;
  float: right;
  font-size: medium;
  border-radius: 25px;
  border: 1px solid rgb(133, 215, 202);
  background-color: rgb(226, 250, 246);
  box-shadow: 2px 2px 3px 0.5px #ccc;
  margin-left: 10px;
}

.modify-button:hover {
  cursor: pointer;
  background-color: rgb(190, 245, 236);
}

.modify-button:active {
  position: relative;
  box-shadow: 0.5px 0.5px 0 #ccc;
  top: 2px;
}
