@font-face {
  font-family: 'Nanum-barun-gothic';
  src: url("./fonts/NanumBarunGothic.ttf");
}

.header {
  display: flex;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 60px;
  margin: 2%;
  box-shadow: 2px 2px 3px 0.5px rgb(108, 108, 108);
  height: 80px;
}

.title {
  margin-left: 40px;
  margin-right: auto;
  float: left;
  display: flex;
  align-items: center;
}

.logo {
  height: 80px;
}

.big-logo {
  height: 60vh;
  margin-top: 20px;
  float: left;
}

.home-title {
  float: left;
}

.DLT {
  font-family: 'Nanum-barun-gothic';
  font-size: 22px;
}

.not-login-buttons {
  font-family: 'Nanum-barun-gothic';
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 3px;
  float: right;
  margin-top: 50px;
  margin-right: 60px;
}

.welcome {
  margin-right: 20px;
}

.buttons {
  font-family: 'Nanum-barun-gothic';
  margin-left: auto;
  margin-right: 30px;
  display: flex;
  align-items: center;
}

.username {
  height: 35px;
  width: 60px;
  align-items: center;
  margin-right: 10px;
  border-radius: 20px;
  border: 1.5px solid rgb(108, 108, 108);
  background-color: rgb(239, 239, 239);
  text-align: center;
  display: flex;
  justify-content: center;
  font-size: smaller;
}

.add-post-button {
  height: 40px;
  width: 40px;
  align-items: center;
  margin-right: 10px;
  font-size: medium;
  border-radius: 25px;
  border: 1.5px solid rgb(108, 108, 108);
  background-color: rgb(239, 239, 239);
  box-shadow: 1px 1px 1px 2px #ccc;
  color: black;
}

.login {
  height: 40px;
  width: 40px;
  align-items: center;
  margin-right: 10px;
  font-size: medium;
  border-radius: 25px;
  border: 1.5px solid rgb(108, 108, 108);
  background-color: rgb(239, 239, 239);
  box-shadow: 1px 1px 1px 2px #ccc;
  color: black;
}

.register {
  height: 40px;
  width: 40px;
  align-items: center;
  margin-right: 10px;
  font-size: medium;
  border-radius: 25px;
  border: 1.5px solid rgb(108, 108, 108);
  background-color: rgb(239, 239, 239);
  box-shadow: 1px 1px 1px 2px #ccc;
  color: black;
}

.add-post-button:hover, .login:hover, .register:hover {
  cursor: pointer;
  background-color: rgb(221, 255, 249);
  border: 1.5px solid rgb(133, 215, 202);
}

.add-post-button:active, .login:active, .register:active {
  position: relative;
  box-shadow: 0.5px 0.5px 0 #ccc;
  top: 2px;
}

.post-one {
  display: flex;
  align-items: center;
}

.post-link {
  width: 420px;
  text-decoration: none;
  color: inherit;
}

.post-list {
  list-style: none;
  font-family: 'Nanum-barun-gothic'
}

.post-element {
  height: 90px;
  display: flex;
  align-items: center;
  padding: 0.5%;
  margin: 18px;
  box-shadow: 2px 2px 3px 0.5px #ccc;
  border-radius: 50px;
  border: 1px solid #ccc;
}

.post-element:hover {
  cursor: pointer;
  background-color: rgb(241, 241, 241);
}

.post-element:active {
  position: relative;
  box-shadow: 0.5px 0.5px 1px 1px #ccc;
  top: 3px;
}

.post-date{
  font-weight: bold;
  font-size: large;
  margin-right: auto;
  margin-left: 5%;
}

.post-goal-mood{
  margin-left: auto;
  margin-right: 5%;
  display: flex;
  justify-content: center;
}

.post-goal {
  color:rgb(79, 79, 79);
  font-size: small;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 5px;
}

.post-mood {
  font-size: larger;
  color: gray;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 5px;
}

.del-button {
  height: 45px;
  width: 45px;
  align-items: center;
  margin-right: 10px;
  font-size: medium;
  border-radius: 22px;
  border: 1.5px solid rgb(133, 215, 202);
  background-color: rgb(226, 250, 246);
  box-shadow: 2px 2px 3px 0.5px #ccc;
  color: black;
}

.del-button:hover {
  cursor: pointer;
  background-color: rgb(201, 245, 238);
}

.del-button:active {
  position: relative;
  box-shadow: 0.5px 0.5px 0 #ccc;
  top: 2px;
}

.login-plz {
  text-align: center;
  margin: auto;
  margin-top: 200px;
  font-size: larger;
}