@font-face {
  font-family: 'Nanum-barun-gothic';
  src: url("./fonts/NanumBarunGothic.ttf");
}

.loginPopUp {
  font-family: 'Nanum-barun-gothic';
  height: 45vh;
  width: 20vw;
  position: fixed;
  top: 50vh;
  left: 50vw;
  transform: translate(-50%, -50%); /* 기준점을 중앙으로 배치 */
  background-color: white;
  border: 2px solid rgb(133, 215, 202);
  border-radius: 20px;
  box-shadow: 3px 3px 3px 3px #ccc;
  padding: 20px;
}

#login-titlebox {
 display: flex;
 margin-top: 10%;
}

#login-title {
  font-family: 'Nanum-barun-gothic';
  margin: auto;
  font-size: x-large;
}

#login-input {
  margin-top: 10%;
}

.labels{
  margin-top: 20px;
  margin-left: 10%;
  font-size: small;
}

.nickname {
  padding: 10px;
  width: 70%;
  border: 2.5px solid rgb(218, 218, 218);
  border-radius: 30px;
  height: 5%;
  font-size:small;
}

.password {
  padding: 10px;
  width: 70%;
  margin-top: 15px;
  border: 2.5px solid rgb(218, 218, 218);
  border-radius: 30px;
  height: 5%;
  font-size:small;
}

#login-button {
  margin-top: 10%;
  display: flex;
  align-items: center;
}

#confirm {
  padding: 10px;
  margin-left: auto;
  margin-right: 10px;
  height: 40px;
  width: 40px;
  font-size: medium;
  border-radius: 25px;
  border: 1.5px solid rgb(133, 215, 202);
  background-color: rgb(226, 250, 246);
  box-shadow: 2px 2px 3px 0.5px #ccc;

  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
}

#close {
  padding: 10px;
  margin-left: 10px;
  margin-right: auto;
  height: 40px;
  width: 40px;
  font-size: medium;
  border-radius: 25px;
  border: 1.5px solid rgb(133, 215, 202);
  background-color: rgb(226, 250, 246);
  box-shadow: 2px 2px 3px 0.5px #ccc;

  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
}

#confirm:hover, #close:hover {
  cursor: pointer;
  background-color: rgb(199, 233, 228);
}
#confirm:active, #close:active {
  position: relative;
  box-shadow: 0.5px 0.5px 0 #ccc;
  top: 2px;
}
