@font-face {
  font-family: 'Nanum-barun-gothic';
  src: url("./fonts/NanumBarunGothic.ttf");
}

.header {
  display: flex;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 60px;
  margin: 2%;
  box-shadow: 2px 2px 3px 0.5px rgb(108, 108, 108);
  height: 80px;
}

.title {
  margin-left: 70px;
  margin-right: auto;
  float: left;
  display: flex;
  align-items: center;
}

.DLT {
  font-family: 'Nanum-barun-gothic';
  font-size: 22px;
  margin-right: 10px;
}

.buttons {
  font-family: 'Nanum-barun-gothic';
  margin-left: auto;
  margin-right: 30px;
  display: flex;
  align-items: center;
}

.username {
  height: 35px;
  width: 60px;
  align-items: center;
  margin-right: 10px;
  border-radius: 20px;
  border: 1.5px solid rgb(108, 108, 108);
  background-color: rgb(239, 239, 239);
  text-align: center;
  display: flex;
  justify-content: center;
  font-size: smaller;
}

.block {
  float: left;
}

.block-schedule {
  float: none;
}