@font-face {
  font-family: 'Nanum-barun-gothic';
  src: url("./fonts/NanumBarunGothic.ttf");
}

.regisPopUp {
  font-family: 'Nanum-barun-gothic';
  height: 520px;
  width: 300px;
  position: fixed;
  top: 50vh;
  left: 50vw;
  transform: translate(-50%, -50%); /* 기준점을 중앙으로 배치 */
  background-color: white;
  border: 2px solid rgb(133, 215, 202);
  border-radius: 20px;
  box-shadow: 3px 3px 3px 3px #ccc;
  padding: 20px;
}

#titlebox {
  display: flex;
  margin-top: 10%;
}

#title {
  font-family: 'Nanum-barun-gothic';
  margin: auto;
  font-size: x-large;
}

.labels{
  margin-top: 20px;
  margin-left: 40px;
  font-size: small;
}

.nickname {
  font-family: 'Nanum-barun-gothic';
  padding: 10px;
  width: 70%;
  border: 1.5px solid #ccc;
  border-radius: 20px;
  height: 30px;
  font-size: small;
  margin: auto;
  margin-top: 5px;
}

.password {
  font-family: 'Nanum-barun-gothic';
  padding: 10px;
  width: 70%;
  margin-top: 20px;
  border: 1.5px solid #ccc;
  border-radius: 20px;
  height: 30px;
  font-size: small;
  margin: auto;
  margin-top: 5px;
}

#regisButton {
  margin-top: 10%;
  display: flex;
  align-items: center;
}

.pick-gender {
  font-family: 'Nanum-barun-gothic';
  padding: 10px;
  width: 70%;
  margin-top: 20px;
  border: 1.5px solid #ccc;
  border-radius: 20px;
  height: 30px;
  font-size: small;
  margin: auto;
  margin-top: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#checkbox {
  margin-left: 10px;
}

#female{
  margin-left:10px;
  margin-right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: larger;
}

#male {
  margin-left:10px;
  margin-right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: larger;
}

#confirm {
  padding: 10px;
  margin-left: auto;
  margin-right: 10px;
  height: 40px;
  width: 40px;
  font-size: medium;
  border-radius: 25px;
  border: 1.5px solid rgb(133, 215, 202);
  background-color: rgb(226, 250, 246);
  box-shadow: 2px 2px 3px 0.5px #ccc;
}

#close {
  padding: 10px;
  margin-left: 10px;
  margin-right: auto;
  height: 40px;
  width: 40px;
  font-size: medium;
  border-radius: 25px;
  border: 1.5px solid rgb(133, 215, 202);
  background-color: rgb(226, 250, 246);
  box-shadow: 2px 2px 3px 0.5px #ccc;
}

#confirm:hover, #close:hover {
  cursor: pointer;
  background-color: rgb(199, 233, 228);
}
#confirm:active, #close:active {
  position: relative;
  box-shadow: 0.5px 0.5px 0 #ccc;
  top: 2px;
}
