@font-face {
  font-family: 'Roboto-Slab';
  src: url('./fonts/RobotoSlab-VariableFont_wght.ttf');
}

@font-face {
  font-family: 'KoPub-dotum';
  src: url('./fonts/KoPubWorld\ Dotum\ Medium.ttf');
}

@font-face {
  font-family: 'Laundry-Gothic';
  src: url("./fonts/런드리고딕OTF\ Regular.otf");
}

@font-face {
  font-family: 'Samlip-outline';
  src: url("./fonts/SDSamliphopangcheOutline.otf")
}

.regisPopUp {
  font-family: 'Laundry-Gothic';
  height: 50%;
  width: 300px;
  position: fixed;
  top: 50%;
  left: 80%;
  transform: translate(-50%, -50%); /* 기준점을 중앙으로 배치 */
  background-color: white;
  border: 4px solid rgb(133, 215, 202);
  border-radius: 20px;
  box-shadow: 3px 3px 3px 3px #ccc;
  padding: 20px;

  
}

#titlebox {
 display: flex;
 margin-top: 10%;
}

#title {
  font-family: 'Samlip-outline';
  margin: auto;
  font-size: xx-large;
}

#input {

  margin: auto;
  margin-top: 10%;
  /* display: flex;
  align-items: center; */

}

.nickname {
  padding: 10px;
  margin: auto;
  width: 70%;
  border: 2.5px solid rgb(133, 215, 202);
  border-radius: 30px;
  height: 30px;
  font-size:small;
}

.password {
  padding: 10px;
  margin: auto;
  width: 70%;
  margin-top: 15px;
  border: 2.5px solid rgb(133, 215, 202);
  border-radius: 30px;
  height: 30px;
  font-size:small;
}

#regisButton {
  margin-top: 10%;
  display: flex;
  align-items: center;
}

#confirm {
  padding: 10px;
  margin-left: auto;
  margin-right: 10px;
  height: 50px;
  width: 50px;
  font-size: larger;
  border-radius: 25px;
  border: 3px solid rgb(133, 215, 202);
  background-color: rgb(226, 250, 246);
  box-shadow: 1px 1px 1px 2px #ccc;
}

#close {
  padding: 10px;
  margin-left: 10px;
  margin-right: auto;
  height: 50px;
  width: 50px;
  font-size: larger;
  border-radius: 25px;
  border: 3px solid rgb(133, 215, 202);
  background-color: rgb(226, 250, 246);
  box-shadow: 1px 1px 1px 2px #ccc;
}

#confirm:hover, #close:hover {
  cursor: pointer;
  background-color: rgb(199, 233, 228);
}
#confirm:active, #close:active {
  position: relative;
  box-shadow: 0.5px 0.5px 0 #ccc;
  top: 2px;
}
