@font-face {
  font-family: 'Nanum-barun-gothic';
  src: url("./fonts/NanumBarunGothic.ttf");
}

.schedule {
  font-family: 'Nanum-barun-gothic';
  margin-bottom: 70px;
  margin-top: 40px;
  margin-left: 80px;
  width: 600px;
  border: 2px solid rgb(222, 222, 222);
  padding: 20px;
  border-radius: 20px;
  box-shadow: 2px 2px 3px 0.5px #ccc;
}

.schedule-header {
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.schedule-title {
  font-size: large;
  margin-right: auto;
  float: left;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1.8px solid rgb(108, 108, 108);
  padding-bottom: 6px;
}

.modify-button {
  height: 40px;
  width: 40px;
  float: right;
  font-size: medium;
  border-radius: 25px;
  border: 1px solid rgb(133, 215, 202);
  background-color: rgb(226, 250, 246);
  box-shadow: 2px 2px 3px 0.5px #ccc;
  margin-left: 10px;
}

.modify-button:hover {
  cursor: pointer;
  background-color: rgb(190, 245, 236);
}

.modify-button:active {
  position: relative;
  box-shadow: 0.5px 0.5px 0 #ccc;
  top: 2px;
}

.schedule-table-top {
  margin: auto;
  border-bottom: 2px solid #ccc;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

.schedule-table-bottom {
  margin: auto;
  margin-top: 10px;

}

.schedule-time {
  width: 120px;
  font-family: 'Nanum-barun-gothic';
  font-size: small;
  display: flex;
  align-items: center;
  border: 1.5px solid #ccc;
  border-radius: 15px;
  height: 29px;
  margin: 5px;
  padding: 5px;
}

.schedule-content {
  width: 350px;
  font-family: 'Nanum-barun-gothic';
  font-size: small;
  display: flex;
  align-items: center;
  border: 1.5px solid #ccc;
  border-radius: 15px;
  height: 29px;
  margin: 2px;
  padding: 5px;
}

td {
  border-collapse: collapse;
}